annotated-types==0.7.0
asgiref==3.8.1
backoff==1.10.0
cachetools==5.5.0
certifi==2024.12.14
charset-normalizer==3.4.0
Django==4.1.13
dnspython==2.7.0
geojson==3.1.0
google-api-core==2.24.0
google-auth==2.37.0
googleapis-common-protos==1.66.0
idna==3.10
imagesize==1.4.1
labelbox==6.4.0
lbox-clients==1.1.1
mypy==1.10.1
mypy-extensions==1.0.0
ndjson==0.3.1
numpy==2.2.0
opencv-python-headless==4.10.0.84
pillow==11.0.0
proto-plus==1.25.0
protobuf==5.29.1
psycopg2==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.10.4
pydantic_core==2.27.2
pyGeoTile==1.0.6
pymongo==4.6.0
pyproj==3.7.0
python-dateutil==2.9.0.post0
python-decouple==3.8
requests==2.32.3
rsa==4.9
shapely==2.0.6
six==1.17.0
sqlparse==0.2.4
StrEnum==0.4.15
tqdm==4.67.1
typeguard==4.4.1
typing_extensions==4.12.2
urllib3==2.2.3
