{% extends 'annotation/base.html' %}

{% block content %}
<div class="container">
    <h1>Annotation Projects</h1>
    <a href="{% url 'project_create' %}" class="btn btn-primary mb-3">Create New Project</a>

    <div class="row">
        {% for project in projects %}
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ project.name }}</h5>
                    <p class="card-text">{{ project.description }}</p>
                    <p>Media Type: {{ project.get_media_type_display }}</p>
                    <a href="{% url 'task_list' project_id=project.id %}" class="btn btn-secondary">
                        View Tasks
                    </a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No projects available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}